blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
div,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}


body,
button,
input,
select,
textarea,
code {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

li {
    list-style: none;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}